$black: #1D1F21;
$red: #a54242;
$green: #80883b;
$yellow: #9f7541;
$blue: #55748a;
$magenta: #63586e;
$cyan: #53847a;
$white: #6c8080;
$blackbright: #40434a;
$redbright: #cc6666;
$greenbright: #99a153;
$yellowbright: #b98c55;
$bluebright: #81a2be;
$magentabright: #806b86;
$cyanbright: #609087;
$whitebright: #8f8b8b;
