@import 'colors.scss';
// @import 'animations.scss';

// Unsets everything so you can style everything from scratch
* {
  all: unset;
  font-family: "Pixel Code";
}

// $font_sans: "Pixel Code";
// $font_sans_light: "Pixel Code";

// Global Styles
window {
  background: $black;
  color: $whitebright;
}

.bar {
  padding: 3px 30px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: $black;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}

.workspaces button:hover {
  color: $cyan;
}

.workspaces .workspace.active {
  color: $yellow;
}

.workspaces .workspace.empty {
  color: $blackbright;
}
