* {
	black: #1D1F21;
	red: #a54242;
	green: #8c9440;
	yellow: #de935f;
	blue: #8897F4;
	magenta: #85678f;
	cyan: #5e8d87;
	white: #707880;
	blackbright: #373b41;
	redbright: #cc6666;
	greenbright: #b5bd68;
	yellowbright: #f0c674;
	bluebright: #81a2be;
	magentabright: #b294bb;
	cyanbright: #8abeb7;
	whitebright: #c5c8c6;
}
